﻿.AppTitle
{
    color: white;
    font-size: 20px;
    line-height:1;
}

.m-subheader
{
    padding-top:45px;
}

.MainBody
{
    background:white;
    padding:5px;
    padding-top:20px;
    overflow:auto;
    padding-bottom:20px;
}
.HideItem
{
    display:none;
}

   .fontawesomeThemeColor
   {
       color:#716aca;
   }

   .CursorClass
   {
       cursor:pointer;
   }

   .modal-header
   {
           text-align: center;
    background: #716aca !important;
   }

   .modal-title
   {
           color: white !important;
    font-size: 18px !important;
   }

   .modal-content.close
   {
       color:white !important;
   }

      .requiredfield:after {
    margin: 2px;
    content: "*";
    color: red;
}

          .dataTables_paginate paging_simple_numbers
      {
          padding-bottom:20px;
      }



          @media screen and (max-width: 520px) {
  .CustomResponsiveTable {
    display: block;
    overflow-x:auto;
  }
}
        #TournamentDetailsContainer, .margin50
        {
            margin-top:50px;
        }

        .SubheaderDiv
        {
                font-weight: 600;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #afaaaa;
        }

        .OverflowAuto
        {
            overflow:auto;
        }

        .marginright
        {
            margin-right:5px;
        }
        

        .MarginTop{
            margin-top:10px;
        }

        #TournamentTeamsContainer, #TournamentSchedulesContainer
        {
            text-align:center;
        }

        #ImageDiv  img
        {
            height:200px;
        }

        #ImageDiv
        {
            cursor:pointer;
        }

        #ImageTitleDiv
        {
                border: 1px solid #cabdbd;
    text-align: center;
    font-weight: 600;
    padding: 50px;
        }

        .ImageFormat img
        {
            width:100%;
        }

        #ShowPlayerProfileModal .modal-body
        {
            overflow:hidden;
        }

        .BorderStyling
        {
                border-radius: 4px;
    border: 1px solid #dad8d8;
    padding: 6px;
    min-height:32px;
        }

        .MarginRight
        {
            margin-right:15px;
        }

        .form-control
        {
                height: 34px !important;
                border-color: #ceced0;
                color: #575962;
                padding-top:8px;
        }

        .TitleDiv
        {
            font-size:18px;
        }

        .TicketContainerStyle
{
    border-radius: 11px;
    padding-top: 10px;
    border: 1px solid #dedede;
    height: 100px;
    margin:20px;
}

.TicketContainerStyle:hover
{
        box-shadow: 0px 0px 0px 1px #6cf8ff;
}


.TicketFontStyle
{
       margin-left: 10px;
    font-size: 20px;
    margin-top: 6px;
}

.TicketSpan
{
        font-size: 14px;
    font-weight: 600;
}

.CounterSpan {
   position: absolute;
    right: 12px;
}

.LineStyle
{
    margin: 0px;
    margin-top: 21px;
    border-color: #d4d4d4;
}

.f1
{
        color: #b7722a;
}

.f2
{
        color: #0a9007;
}

.f3
{
        color: #b31808;
}

.f4
{
    color: #4cffd6;
}



#MainDiv .MainVisitorsImage
{
    width:100%;
    height:400px;
}

.FontStyles
{
        font-size: 23px;
    font-weight: 600;
}


.bodyBackground {
    background-size: cover;
    background-image: url('../Images/New background.jpg') !important;
    width: 100% !important;
    height: 100%;
}
.loginbodyBackground {
    background-size: cover;
    background-image: url('../Images/New background.jpg') !important;
    width: 100% !important;
}

        /* Style the navbar */
        #navbar {
            z-index:1;
            overflow: hidden;
            background-color: #333;
            opacity: 0.8;
        }

            /* Navbar links */
            #navbar a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px;
                text-decoration: none;
            }

        /* Page content */
        .content {
            padding: 16px;
        }

        /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

            /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
            .sticky + .content {
                padding-top: 60px;
            }

        #navbar a:hover {
            background: green;
            color: white;
            font-weight: 600;
        }

           .WhiteBackground {
        background: white;
        margin-bottom: 0px !important;
        padding:20px
    }

    .FontWeight
    {
        font-weight:600;
        font-size:19px;
    }


    .just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.BackgroundCover {
    background-size: cover;
    background-image: url('../Images/user_profile_bg.jpg');
}

.FormGroup
{
    margin-bottom:15px;
}

.EditLeagueTeamBtn
{
        color: #5867dd;
    padding: 6px;
    margin-right: 10px;
    border: 1px solid #5867dd;
    border-radius: 50%;
    cursor:pointer;
}

.EditLeagueTeamBtn:hover
{
    color: white;
    background:#5867dd;
}

.BoldFonts
{
    font-weight:600;
}

.AddToTeamBtnStyle
{
        background: #139c13;
    padding: 4px;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    padding-right: 8px;
    padding-left: 9px;
    cursor:pointer;
}

.AddToTeamBtnStyle:hover
{
        color: #139c13;
    background: white;
    border: 1px solid #139c13;
}

.FilterBtnActive
{
     background: #c3c3c3 !important;    
}

.RemoveTeamIconStyle
{
font-size: 15px;
    border: 0px;
    border-radius: 50%;
    padding: 5px;
    color: white;
    padding-left: 8px;
    padding-right: 9px;
    background: #ef550b;
    cursor:pointer;
}

RemoveTeamIconStyle:hover
{
       color: #ef550b;
    background: white;
    border: 1px solid #ef550b;
}

.CaptainLabel
{
        display: inherit;
    padding: 6px;
    background: #2fb32f;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border:0px;
    margin: 1px;
}

.ManOfMatchLabel
{
        display: inherit;
    padding: 6px;
    background: #37bfbf;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border:0px;
        margin: 1px;
}

   .blockUI{
       position: absolute;
    z-index: 99999;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
   }
   .arrow {
     -webkit-animation-duration:0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-duration:0.5s;
    height: 80px;
    width: 80px;
    border: 10px solid #42166f;
    border-top: 10px solid transparent;
    position: relative;
}
.spinner:last-child {
    margin: 0;
}

.spinner{   
    border-radius: 50px;
    -webkit-animation: spin 0.5s infinite linear;
    -moz-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    }
    @keyframes spin{
    100%{
        
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

@-webkit-keyframes spin{
    100%{
        
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

@-moz-keyframes spin{
    100%{
        
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

.blockUI.blockMsg.blockPage
{
    z-index: 9999 !important;
    background-color: transparent !important;
    border: none !important;
    left:45% !important;
      
}


.paginate_button.current
{
        height: 28px;
    background: #c3c3c3;
    font-size: 10px;
}


.LeaguesHeaderdiv
{
        text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #dadada;
}