﻿@model CricketFantasy.DataTransferObjects.Models.PlayersDto

@using (Ajax.BeginForm("CreatePlayer", "Players", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "CreatePlayerSuccess",
    OnFailure = "CreatePlayerFailure",
}))
{
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PlayerId)
    @Html.HiddenFor(model => model.TeamId)
    <div class="form-group">
        @Html.Label("Player Name", htmlAttributes: new { @class = "control-label col-md-3 requiredfield" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.PlayerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PlayerName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Player Type", htmlAttributes: new { @class = "control-label col-md-3 requiredfield" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.PlayerType,
           new SelectList(
                  new List<Object>{
                        new { value = "Batsman" , text = "Batsman" },
                       new { value = "Bowler", text = "Bowler"},
                       new { value = "Wicket Keeper", text = "Wicket Keeper"},
                       new { value = "All Rounder", text = "All Rounder"}
                    },
                  "value",
                  "text",
                   Model.PlayerType
           ), new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.PlayerType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Is Captain", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
           @Html.CheckBoxFor(model => model.isCaptain, new { htmlAttributes = new { @class = "form-control" } })
            
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="Create" id="CreatePlayerBtn" class="HideItem btn btn-default" />
        </div>
    </div>
</div>
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

