﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.PlayersDto>

<table class="table table-striped table-bordered CustomResponsiveTable" id="PlayerTable">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Player Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerType)
                </td>
                <td>
                    @if (item.IsInCurrentTeam)
                    {
                        <span class="btn btn-danger btn-sm" onclick="RemoveFromTeam(@item.PlayerId, this)">Remove From Team</span>
                    }
                    else
                    {
                        <span class="btn btn-primary btn-sm" onclick="AddToTeam(@item.PlayerId, this)">Add to Team</span>
                    }
                </td>
            </tr>

        }

    </tbody>
</table>

<script>
    $(document).ready(function () {
        InitializeTable('PlayerTable');
    });
</script>