﻿@model CricketFantasy.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    
    .bodyBackground {
        background-size: cover;
        background-image: url('../../Images/CricketHQ-Fantasy-LoginPage Background.png') !important;
        width: 100% !important;
        height: 100%;
    }
.loginbodyBackground {
    background-size: cover;
          background-image: url('../../Images/CricketHQ-Fantasy-LoginPage Background.png') !important;
    width: 100% !important;
}
</style>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-login__form m-form", role = "form" }))
{
    <div class="form-group m-form__group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group m-form__group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input m-login__form-input--last", @placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="row m-login__form-sub">
        <div class="col m--align-right m-login__form-right">
            <a href="/Account/Register" id="m_login_forget_password" class="m-link">Don't have an account? Register here</a>
        </div>
        <div class="col m--align-right m-login__form-right">
            @Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, new { @class = "m-link" })

        </div>
    </div>
    <div class="m-login__form-action">
        <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Sign In</button>
    </div>
   
}