﻿@using Microsoft.AspNet.Identity
@model CricketFantasy.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";


    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UsersLayout.cshtml";
    }
}

<h2>Profile</h2>

<div class="col-md-10">

    @using (Ajax.BeginForm("Profile", "Account", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessMessage", OnFailure = "FailMessage" }, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="container">

            <div class="form-horizontal col-md-10">
                <h4>@Model.FullName</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        @* <button class="btn btn-default" onclick="UpdateUserDetails()">Update</button>*@
                        <input type="submit" class="btn btn-default" value="Update" />
                    </div>
                </div>
            </div>

            @*<div class="col-md-4">
                    <div id="ImageUserDiv">
                        @if (Model.HasImage)
                        {
                            <img src="@Url.Content("~/UserImages/"+Model.Id+".jpg")" />
                        }
                        else
                        {
                            <div id="ImageUserTitleDiv">
                                Click Here to Upload Image
                            </div>
                        }
                    </div>
                    <input type="file" style="display:none;" accept="image/x-png,image/gif,image/jpeg" onchange="readURLUser(this);" id="UserImage" />
                </div>*@
        </div>
    }
    <div class="col-md-2" style="display:none;">
        @using (Ajax.BeginForm("FileUpload", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessImageUpload", OnFailure = "FailImageUpload" }, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" style="width: 100%;" />
            <input type="submit" value="Upload" class="submit" />
        }
    </div>
</div>
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost
    function SuccessMessage(result) {
        if (result.success) {
            $.toaster({ priority: 'success', message: result.message });
        }
        else {
            $.toaster({ priority: 'danger', message: result.message });
        }
    }
    function FailMessage() {
        alert("Fail Post");
    }

    function SuccessImageUpload(result) {
        
    }
    function FailImageUpload() {
        alert("Oops! something went wrong while uploading picture.");
    }
</script>


