﻿@model CricketFantasy.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .validation-summary-errors {
        color: red;
    }


    .bodyBackground {
        background-size: cover;
        background-image: url('../../Images/CricketHQ-Fantasy-LoginPage Background.png') !important;
        width: 100% !important;
        height: 100%;
    }
.loginbodyBackground {
    background-size: cover;
          background-image: url('../../Images/CricketHQ-Fantasy-LoginPage Background.png') !important;
    width: 100% !important;
}
</style>
@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-login__form m-form", role = "form" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group m-form__group">
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control m-input", @placeholder = "Full name" })
        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
    </div>
<div class="form-group m-form__group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group m-form__group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input m-login__form-input--last", @placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group m-form__group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control m-input m-login__form-input--last", @placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="row m-login__form-sub">
        <div class="col m--align-right m-login__form-right">
            <a href="/Account/Login" id="m_login_forget_password" class="m-link">Already have an account? Login here</a>
        </div>
    </div>
    <div class="m-login__form-action">
        <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Sign Up</button>
    </div>
    <div class="text-danger text-justify" style="margin-top:20px;">
        <p>Password must have 1 UPPER CASE, 1 lower case, 1 number and 1 Special Character. Minimum length of the password is 6</p>
    </div>
}