﻿@model CricketFantasy.DataTransferObjects.Models.CreateTeamDto

@using (Ajax.BeginForm("CreateTeam", "Team", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "CreateTeamSuccess",
    OnFailure = "CreateTeamFailure",
}))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TeamId)

        <div class="form-group">
            @Html.Label("Team Name", htmlAttributes: new { @class = "control-label col-md-3 requiredfield" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Country Name", htmlAttributes: new { @class = "control-label col-md-3 requiredfield" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12 form-group">
            <a class="btn btn-primary" href="/Home/Players" target="_blank"> Add Players </a>
        </div>

        <div class="col-md-12" id="PlayersContainerDiv">
          
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="CreateTeamsBtn" class="HideItem btn btn-default" />
            </div>
        </div>
    </div>

}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        GetPlayersData();
    });
</script>