﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.TeamDTO>

<table class="table table-striped table-bordered CustomResponsiveTable" id="VirtualTeamTable">
    <thead>
        <tr>
            <th>
                Team Name    
            </th>
            <th>
                Total Players in Team
            </th>
            <th>
                View Players
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayersCount)
                </td>
                <td>
                    <a href="#" onclick="ViewVirtualTeamPlayers(@item.TeamId)">View Players</a>
                </td>
                <td>
                     <span class="fa fa-trash fontawesomeThemeColor DeleteAccount CursorClass" onclick="DeleteTeam('@item.TeamId')" title="Delete Team"></span>
                </td>
            </tr>

        }

    </tbody>
</table>

<script>
    $(document).ready(function () {
        InitializeTable('VirtualTeamTable');
    });
</script>


