﻿<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Virtual Team Management</h3>
        </div>
    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
    <div class="MainBody">
        <div class="col-md-12 form-group" style="display:none;">
            <button class="btn btn-primary" onclick="GetTeamModel('0')"> Add/Create Team</button>
        </div>
        <div class="col-md-12 form-group" id="MainVirutalTeamDiv">

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetVirutalTeamData();
    });
</script>