﻿@model IEnumerable < CricketFantasy.DataTransferObjects.Models.PlayersDto>

<table class="table" id="PlayersSelectionTable">
  <thead>
      <tr>
          <th>
              Player Name
          </th>
          <th>
              Price
          </th>
          <th>

          </th>
      </tr>
  </thead>

 <tbody>
     @foreach (var item in Model)
     {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.PlayerName)
             </td>
             <td>
                 @item.PlayerValue
             </td>
             <td>
                 <span class="AddToTeamBtnStyle" title="Add to Team"><i class="fa fa-chevron-right" onclick="AddVirtualPlayerToTeam(@item.PlayerId, this)"></i></span>
             </td>
         </tr>
     }

 </tbody>
</table>

<script>
    $(document).ready(function () {
        InitializeTable('PlayersSelectionTable');
    });
</script>