﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.LeaguesDTO>

<table class="table" id="EnrolledLeaguesTable">
    <thead>
        <tr>
            <th>
                League Title
            </th>
            <th>
                Total Teams
            </th>
            <td>
                Actions
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeagueTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTeams)
                </td>
                <td>
                    <a href="/User/LeagueTeams/?LeagueId=@item.LeagueId">View Teams</a>
                </td>
            </tr>
        }
    </tbody>

</table>


<script>
    $(document).ready(function () {
        InitializeTable('EnrolledLeaguesTable');
    });
</script>