﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.LeaguesDTO>

<table class="table" id="PersonalLeaguesTable">
   <thead>
       <tr>
           <th>
               League Title
           </th>
           <th>
               League Password
           </th>
           <th>
               Created Date
           </th>
           <th>
               Total Teams
           </th>
           <th>
               Actions
           </th>
       </tr>
   </thead>

   <tbody>
       @foreach (var item in Model)
       {
           <tr>
               <td>
                   @Html.DisplayFor(modelItem => item.LeagueTitle)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Password)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.CreatedDate)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.TotalTeams)
               </td>
               <td>
                   <a href="/User/LeagueTeams/?LeagueId=@item.LeagueId">View Teams</a>

                   <button title="Edit League Information" class="btn btn-primary btn-sm" onclick="GetLeaguePopup(@item.LeagueId)">
                       <i class="fa fa-pencil"></i>
                       Edit League Info
                   </button>

                   <button title="Invite" class="btn btn-success btn-sm" onclick="GetInvitesPopup(@item.LeagueId)">
                       <i class="fa fa-envelope-open"></i>
                       Invite
                   </button>
                   <button class="btn btn-success btn-sm" onclick="JoinOwnLeague(@item.LeagueId)">
                       <i class="fa fa-envelope-open"></i>
                       Join This League
                   </button>
               </td>
           </tr>
       }
   </tbody>

</table>


<script>
    $(document).ready(function () {
        InitializeTable('PersonalLeaguesTable');
    });
</script>