﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.PlayersDto>

<table class="table">
    <tr>
        <th>
            Player Name
        </th>
        <th>
            Player Type
        </th>
        <th>
            Role
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerType)
            </td>
            <td>
                @if(item.isCaptain)
                {
                    <span class="CaptainLabel">Captain</span>
                    <br />
                }

                @if(item.IsManOfMatch)
                {
                    <span class="ManOfMatchLabel">Man of The Match</span>
                    <br />
                }
            </td>
            <td>
                @if (item.isCaptain != true)
                {
                    <button title="Set as Captain" class="CaptainLabel" onclick="SetAsCaptain(@item.PlayerId)">Set as Captain</button>
                    <br />
                }

                @if (item.IsManOfMatch !=true)
                {
                    <button title="Set as Man of the Match" class="ManOfMatchLabel" onclick="SetAsManOfMatch(@item.PlayerId)">Set as Man of The Match</button>
                    <br />
                }
                <button title="Remove From Team" class="RemoveTeamIconStyle"><i class="fa fa-chevron-left" onclick="RemoveVirtualMember(@item.PlayerId, this)"></i></button>
               
            </td>
        </tr>
    }

</table>

