﻿@using CricketFantasy.DataTransferObjects.Models
@if (ViewBag.TeamId == 0)
{
    <div class="col-md-12 form-group text-center" id="CreateTeamDiv">
        <button class="btn btn-primary" onclick="GetLeagueTeamPopup()"> Create Team</button>
    </div>
}

<div class="OverflowAuto col-md-12 FormGroup DataContainer @ViewBag.VisibilityClass">

    <div class="col-md-2 text-right">
        <i title="Edit Team Title" class="fa fa-pencil EditLeagueTeamBtn" onclick="GetLeagueTeamPopup()"></i>
        <b>Team Title: </b>
    </div>

    <div class="col-md-10" style="margin-top:3px;" data-id="@ViewBag.TeamId" id="TeamNameContainer">
        @ViewBag.TeamName
    </div>

</div>

<div class="col-md-12 FormGroup">
    <div class="col-md-6 FormGroup DataContainer @ViewBag.VisibilityClass">

        <div class="BoldFonts text-center col-md-12 FormGroup">
            Select Players From the Teams
        </div>

        <div class="col-md-12 FormGroup">
            @Html.DropDownList("TeamsDDL", (IEnumerable<SelectListItem>)ViewBag.TeamsList, "All", new { @class = "select2" })
        </div>

        <div class="col-md-12">
            <button class="btn btn-default FilterBtn FilterBtnActive" data-id="Batsman" onclick="FilterData(this)">Batsman</button>
            <button class="btn btn-default FilterBtn" data-id="Bowler" onclick="FilterData(this)">Bowler</button>
            <button class="btn btn-default FilterBtn" data-id="Wicket Keeper" onclick="FilterData(this)">Wicket Keeper</button>
            <button class="btn btn-default FilterBtn" data-id="All Rounder" onclick="FilterData(this)">All Rounder</button>
        </div>

        <div class="col-md-12 FormGroup" id="PlayersSelectionDiv">
            @Html.Partial("_PlayersSelectionPartial", (IEnumerable<PlayersDto>)ViewBag.PlayersList)
        </div>

    </div>


    <div class="col-md-6 FormGroup DataContainer @ViewBag.VisibilityClass">
        <div class="BoldFonts text-center col-md-12 FormGroup">
            Team Members List
        </div>

        <div class="col-md-12 FormGroup" id="TeamMembersListDiv">
            @Html.Partial("GetTeamMembers", (IEnumerable<PlayersDto>)ViewBag.TeamPlayersList)
        </div>

    </div>
</div>


<div class="col-md-12 FormGroup OverflowAuto">
    <p class="text-danger">Your team must have 11 players and man of the match otherwise you won't be able to create and join leagues.</p>
</div>

<script>
    $(document).ready(function () {
        $("#TeamsDDL").select2({ "width": "100%" })
       // $("#TournamentsDDL").select2({ "width": "100%" })
    });
</script>
