﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.TeamDTO>
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Teams in The League</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="MainBody">


        <div class="col-md-12 form-group LeaguesHeaderdiv">
            Teams
        </div>

        <div class="col-md-12 form-group" id="LeaguesDiv">
            <table class="table" id="LeagueTeamsTable">
                <thead>
                    <tr>
                        <th>
                            Team
                        </th>
                        <th>
                            Points
                        </th>
                        <td>
                            Actions
                        </td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamName)
                            </td>
                            <td>
                               @if (item.TotalPoints == null)
                               {
                                   <spa>0</spa>
                               }
                               else
                               {
                                @Html.DisplayFor(modelItem => item.TotalPoints)
                               }
                           
                            </td>
                            <td>
                                <a href="/User/LeagueTeamPlayers/?TeamId=@item.TeamId">View Players</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
        InitializeTable('LeagueTeamsTable');
    });
</script>