﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.PlayersDto>
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Players in The Team</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="MainBody">


        <div class="col-md-12 form-group LeaguesHeaderdiv">
            Players
        </div>

        <div class="col-md-12 form-group" id="LeaguesDiv">
            <table class="table" id="LeagueTeamsTable">
                <thead>
                    <tr>
                        <th>
                            Player
                        </th>
                        <th>
                            Points
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlayerName)
                            </td>
                            <td>
                               <span>@item.Points</span>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
        InitializeTable('LeagueTeamsTable');
    });
</script>