﻿    @{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">My Team</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="MainBody">
        <div class="col-md-12 FormGroup">
            @Html.DropDownList("TournamentsDDL", (IEnumerable<SelectListItem>)ViewBag.TournamentsList, "Select Tournament", new { @class = "select2", @onchange = "CallChangefunc(this.value)" })
        </div>

        <div class="col-md-12 form-group" id="Teampartial">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#TournamentsDDL").select2({ "width": "100%" })
    });
</script>