﻿@using CricketFantasy.DataTransferObjects.Models
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">League Management</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="MainBody">

        <div class="col-md-12 FormGroup">
            @Html.DropDownList("TournamentsDDL2", (IEnumerable<SelectListItem>)ViewBag.TournamentsList, "Select Tournament", new { @class = "select2", @onchange = "GetLeaguesForTournament(this.value)" })
        </div>

        <div class="col-md-12 form-group" id="LeaguesPartial" style="display:none">
            <div class="col-md-12 form-group" id="CreateTeamDiv">
                <button class="btn btn-primary" onclick="m_boolCreateLeaguePopUp = true;CheckLeagueTeam()"> Create League</button>
            </div>

            <div class="col-md-12 form-group LeaguesHeaderdiv">
                Your Leagues
            </div>

            <div class="col-md-12 form-group" id="LeaguesDiv">
            </div>

            <div class="col-md-12 form-group LeaguesHeaderdiv margin50">
                Leagues in Which You Are Enrolled
            </div>

            <div class="col-md-12 form-group" id="EnrolledDiv">
            </div>

            <div class="col-md-12 form-group LeaguesHeaderdiv margin50">
                All Leagues
            </div>

            <div class="col-md-12 form-group" id="OverallDiv">
            </div>
        </div>

    
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#TournamentsDDL2").select2({ "width": "100%" });

     
    });
</script>
