﻿
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Dashboard</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="MainBody">
        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-user TicketFontStyle f1">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">My Team</span>
                    <span class="CounterSpan"></span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/User/LeagueTeamsManagement"><i class="MarginRight fa fa-refresh"></i> Manage Team</a>
            </div>
        </div>


        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-book TicketFontStyle f2">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">League Management</span>
                    <span class="CounterSpan"></span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/User/LeagueManagement"><i class="MarginRight fa fa-refresh"></i> Manage Leagues</a>
            </div>
        </div>

        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-dot-circle-o TicketFontStyle f3">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">Points Calculation</span>
                    <span class="CounterSpan"></span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/User/PointsCalculation"><i class="MarginRight fa fa-refresh"></i> Show Points Calculation</a>
            </div>
        </div>


    </div>
</div>