﻿@using Microsoft.AspNet.Identity
@{
    string Class = string.Empty;
    if(User.Identity.IsAuthenticated)
    {
        Class = "col-md-12";
        Layout = "~/Views/Shared/_UsersLayout.cshtml";
    }
    else
    {
        Class = "col-md-8 col-md-offset-2";
        Layout = "~/Views/Shared/_VisitorsLayout.cshtml";
    }
}

@if (User.Identity.IsAuthenticated)
{
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title "></h3>
            </div>
        </div>
    </div>

}

<div class="@Class WhiteBackground">
    <div class="col-md-12 text-center FontWeight form-group">
        Points Calculation
    </div>
    <div class="col-md-12 form-group">
        <div class="just-padding">
            <div class="list-group list-group-root well">
                <a href="#item-1" class="list-group-item" data-toggle="collapse">
                    <i class="glyphicon glyphicon-chevron-down"></i>Batting Points
                </a>
                <div class="list-group in" id="item-1">
                    <a href="#item-1-1" class="list-group-item" data-toggle="collapse">
                        <i class="glyphicon glyphicon-chevron-down"></i>Scoring Points
                    </a>
                    <div class="list-group in" id="item-1-1">
                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            1 Run = 1 Point
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            50 Runs = 30 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            100 Runs = 60 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Every Boundry (4s) = 5 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Every Six (6s) = 10 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Batsman hitting 3 Sixes = 10 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Batsman hitting 5 Sixes = 20 Bonus Points
                        </a>

                    </div>

                    <a href="#item-1-2" class="list-group-item" data-toggle="collapse">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                        Strike Rate (Qualification: minimum 15 balls or 20 runs to get SR Points
                    </a>
                    <div class="list-group in" id="item-1-2">

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            SR 00.00 to 69.99 = -20 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            SR 70.00 to 89.99 = -10 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            SR 90.00 to 109.99 = 0 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            SR 110.00 to 149.99 = 10 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            SR  150 to 179.99 = 20 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            SR 180.00+ = 30 Bonus Points
                        </a>
                      
                    </div>

                </div>

                <a href="#item-2" class="list-group-item" data-toggle="collapse">
                    <i class="glyphicon glyphicon-chevron-down"></i>Bowling Points
                </a>
                <div class="list-group in" id="item-2">

                    <a href="#item-2-1" class="list-group-item" data-toggle="collapse">
                        <i class="glyphicon glyphicon-chevron-down"></i>Taking Wickets
                    </a>
                    <div class="list-group in" id="item-2-1">

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            1 Wicket other than bowler = 20 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            1 Wicket of a bowler = 15 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            3 Wickets of a bowler = 30 Bonus Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            5 Wickets of a bowler = 60 Bonus Points
                        </a>
                        
                    </div>

                    <a href="#item-2-2" class="list-group-item" data-toggle="collapse">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                        Bowling Economy Points (Qualification: Should bowl minimum 2 overs to get economy Points)
                    </a>
                    <div class="list-group in" id="item-2-2">

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Economy 00.00 to 3.99 = 30 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Economy 4.00 to 5.99 = 20 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Economy 6.00 to 6.99 = 10 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Economy 7.00 to 7.99 = 0 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Economy 8.00 to 8.99 = -10 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Economy 9.00+ = -20 Points
                        </a>

                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            Maiden over = 20 Points
                        </a>

                    </div>                   

                </div>


                <a href="#item-3" class="list-group-item" data-toggle="collapse">
                    <i class="glyphicon glyphicon-chevron-down"></i>Fielding Points
                </a>
                <div class="list-group in" id="item-3">

                    <a href="javascript:;" class="list-group-item">
                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                        Catch or Stumpings  = 10
                    </a>

                </div>

                <a href="#item-4" class="list-group-item" data-toggle="collapse">
                    <i class="glyphicon glyphicon-chevron-down"></i>Additional Points
                </a>
                <div class="list-group in" id="item-4">

                    <a href="javascript:;" class="list-group-item">
                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                        Man of the Match = 20 Points
                    </a>

                    <a href="javascript:;" class="list-group-item">
                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                        Captain Points double after the overall calculation
                    </a>

                    <a href="javascript:;" class="list-group-item">
                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                        Player in the winning team = 5 Points
                    </a>

                    <a href="javascript:;" class="list-group-item">
                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                        Payer in the losing team = -5 Points
                    </a>

                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $(function () {

        $('.list-group-item').on('click', function () {
            $('.glyphicon', this)
              .toggleClass('glyphicon-chevron-right')
              .toggleClass('glyphicon-chevron-down');
        });

    });
</script>