﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.MatchScheduleDTO>

<table class="table">
    <tr>
        <th>
            Team A
        </th>
        <th>
            Team B
        </th>
        <th>
            Match Schedule
        </th>
        <th>
  
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamAName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamBName)
        </td>
        <td>
            @if (item.ScheduleDateTime != null)
            {
               <div> @item.ScheduleDateTime.Value.ToString("dd MMM yyyy")</div>
            }
        </td>
        <td>
            @if (item.Status == "Result Submitted")
            {
                            <button class="btn btn-primary btn-sm" onclick="ShowResults(@item.MatchScheduleId)">View Result</button>
            }
            else
            {
                <a class="btn btn-primary btn-sm" href="/Home/SubmitResults/?Id=@item.MatchScheduleId">Submit Match Results</a>
                <button class="btn btn-danger btn-sm" onclick="CancelMatch(@item.MatchScheduleId)">Cancel Match</button>
            }
        </td>
    </tr>
}

</table>
