﻿@model CricketFantasy.DataTransferObjects.Models.TournamentsDTO
<style>
    #TournamentType
    {
        padding-bottom:0px;
        padding-top:0px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">Tournament Basic Information</div>
    <div class="panel-body">

        <input id="TournamentId" type="hidden" value="@Model.TournamentId" />
        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">Name</div>
            <div class="col-md-9 form-group"> <input type="text" class="form-control" maxlength="49" id="TournamentName" value="@Model.TournamentName" /></div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">Type</div>
            <div class="col-md-9 form-group">
                <select id="TournamentType" class="form-control">
                    <option value="" style="color:#ccc !important;">
                        Select Tournament Type
                    </option>
                    @foreach (var item in ViewBag.Options)
                    {
                        <option value="@item.Value" @(Model.TournamentType == item.Value ? "selected" : "")>
                            @item.Value
                        </option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">Venue</div>
            <div class="col-md-9 form-group"> <input type="text" class="form-control" maxlength="449" id="Venue" value="@Model.Venue" /></div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">Start Date</div>
            <div class="col-md-9 form-group"> <input type="text" class="form-control" id="StartDate" value="@Model.StartDate" /></div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">End Date</div>
            <div class="col-md-9 form-group"> <input type="text" class="form-control" id="EndDate" value="@Model.EndDate" /></div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">Team Budget</div>
            <div class="col-md-9 form-group"> <input type="number" class="form-control" id="TeamBudget" value="@Model.TeamBudget" /></div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">No of Changes Allowed</div>
            <div class="col-md-9 form-group"> <input type="number" class="form-control" id="NoOfChangesAllowed" value="@Model.NoOfChangesAllowed" /></div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-3 form-group requiredfield">No of Teams</div>
            <div class="col-md-9 form-group"> <input type="number" class="form-control" id="NumberofTeams" value="@Model.NumberofTeams" /></div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-2 pull-right form-group"> <button class="btn btn-primary btn-sm" onclick="SaveTournamentChanges()"> Save Changes</button> </div>
        </div>

    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">Tournament Teams Information</div>
    <div class="panel-body">

        <div class="col-md-12 form-group OverflowAuto">
            <div class="col-md-3 form-group">Add Team in Tournament</div>
            <div class="col-md-6 form-group">
                <select class="form-control" id="TeamSelectionDropdown"></select>
            </div>
            <div class="col-md-3 form-group">
                <button class="btn btn-primary" onclick="AddTeamtoTournament()"> Add </button>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="SubheaderDiv">Teams available in this tournament</div>

            <div id="TournamentTeamsContainer">
                @Html.Partial("_TournamentTeamsList", Model.TeamsList)
            </div>

        </div>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Tournament Match Schedules</div>
    <div class="panel-body">

        <div class="col-md-12 form-group OverflowAuto">
            <div class="col-md-1 form-group MarginTop">Team A</div>
            <div class="col-md-2 form-group">
                <select class="form-control" id="TeamADropdown"></select>
            </div>

            <div class="col-md-1 form-group MarginTop">Team B</div>
            <div class="col-md-2 form-group">
                <select class="form-control" id="TeamBDropdown"></select>
            </div>

            <div class="col-md-2 form-group">
                <input class="form-control" placeholder="Select Match Date" id="MatchDate" />
            </div>

            <div class="col-md-2 form-group">
                <button class="btn btn-primary" onclick="AddTeamsSchedule()"> Create Schedule </button>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="SubheaderDiv">match schedules</div>

            <div id="TournamentSchedulesContainer">
                @Html.Partial("_GetTournamentSchedules", Model.MatchSchedules)
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#StartDate").datepicker();
        $("#EndDate, #MatchDate").datepicker();
        GetTeamsToSelect();
        GetTeamsWithNoSchedule();
    });
</script>