﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.PlayerStatics>

@foreach (var item in Model)
{
    <div class="panel panel-default TournamentSectionForPlayer" id="@item.MatchType">
        <div class="panel-heading">Manage @item.MatchType Statics</div>
        <div class="panel-body">

           
            <div class="col-md-12 form-group">
                <div class="col-md-4 form-group MarginTop">Total Matches</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control TotalMatches" value="@item.Statics.TotalMatches" /></div>
            </div>

            <div>
                Batting and fielding averages
            </div>
            <hr />

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Innings Played</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control InningsBatted" value="@item.Statics.InningsBatted" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Not Outs</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control NotOuts" value="@item.Statics.NotOuts" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Runs Scored</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control RunsScored" value="@item.Statics.RunsScored" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Highest Score</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control HighestScore" value="@item.Statics.HighestScore" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Batting Average</div>
                <div class="col-md-8 form-group"> <input type="text" maxlength="50" class="form-control Average" value="@item.Statics.Average" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Balls Faced</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control BallsFaced" value="@item.Statics.BallsFaced" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Strike Rate</div>
                <div class="col-md-8 form-group"> <input type="text" max="50" class="form-control StrikeRate" value="@item.Statics.StrikeRate" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">100s Scored</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control Hundred" value="@item.Statics.Hundred" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">50s Scored</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control Fifty" value="@item.Statics.Fifty" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Boundary Fours</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control Fours" value="@item.Statics.Fours" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Boundary Sixes</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control Sixes" value="@item.Statics.Sixes" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Catches Taken</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control CatchesTaken" value="@item.Statics.CatchesTaken" /></div>
            </div>


            <div>
                Bowling averages
            </div>
            <hr />

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Innings Bowled</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control InningsBowled" value="@item.Statics.InningsBowled" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Balls Bowled</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control BallsBowled" value="@item.Statics.BallsBowled" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Runs Conceded</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control RunsGiven" value="@item.Statics.RunsGiven" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Wickets Taken</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control WicketsTaken" value="@item.Statics.WicketsTaken" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">Economy Rate</div>
                <div class="col-md-8 form-group"> <input type="text" max="50" class="form-control Economy" value="@item.Statics.Economy" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">4 Wickets in A Match</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control FourWicketsInMatch" value="@item.Statics.FourWicketsInMatch" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">5 Wickets in A Match</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control FiveWicketsInMatch" value="@item.Statics.FiveWicketsInMatch" /></div>
            </div>

            <div class="col-md-6 form-group">
                <div class="col-md-4 form-group MarginTop">10 Wickets in A Match</div>
                <div class="col-md-8 form-group"> <input type="number" class="form-control TenWicketsInMatch" value="@item.Statics.TenWicketsInMatch" /></div>
            </div>

        </div>
    </div>
}         