﻿@model CricketFantasy.DataTransferObjects.Models.CreateUserDTO

@using (Ajax.BeginForm("UpdateUserByAdminWithoutPassword", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "CreateUserSuccess",
    OnFailure = "CreateUserFailure",
}))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2 requiredfield" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2 requiredfield" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (!string.IsNullOrWhiteSpace(Model.UserId))
            {
                @Html.Label("Update Password", htmlAttributes: new { @class = "control-label col-md-2 requiredfield" })
            }
            else
            {
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 requiredfield" })
            }

            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserRoleId, new SelectList(Model.RolesList, "RoleId", "RoleName"), "Select Role", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserRoleId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="CreateUserBtn" class="HideItem btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>