﻿ @model IEnumerable<CricketFantasy.DataTransferObjects.Models.UsersDTO>

<table class="table table-striped table-bordered CustomResponsiveTable" id="UsersTable">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleTitle)
                </td>
                <td>
                    <span class="fa fa-pencil fontawesomeThemeColor EditAccount CursorClass" onclick="GetUsersModel('@item.UserId')" title="Edit Account"></span>
                    <span class="fa fa-trash fontawesomeThemeColor DeleteAccount CursorClass" onclick="DeleteUser('@item.UserId')" title="Delete Account"></span>
                </td>
            </tr>

        }

    </tbody>
</table>

<script>
    $(document).ready(function () {
        InitializeTable('UsersTable');
    });
</script>

