﻿@model CricketFantasy.DataTransferObjects.Models.CountersDTO
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Dashboard</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="MainBody">
        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-user TicketFontStyle f1">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">Users</span>
                    <span class="CounterSpan">@Model.TotalUsers</span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/Home/UserManagement"><i class="MarginRight fa fa-refresh"></i> Manage Users</a>
            </div>
        </div>


        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-book TicketFontStyle f2">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">Players</span>
                    <span class="CounterSpan">@Model.TotalPlayers</span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/Home/Players"><i class="MarginRight fa fa-refresh"></i> Manage Players</a>
            </div>
        </div>

        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-dot-circle-o TicketFontStyle f3">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">Teams</span>
                    <span class="CounterSpan">@Model.TotalTeams</span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/Home/TeamManagement"><i class="MarginRight fa fa-refresh"></i> Manage Teams</a>
            </div>
        </div>

        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-dot-circle-o TicketFontStyle f3">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">Virtual Teams</span>
                    <span class="CounterSpan">@Model.TotalVirtualTeams</span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/Team/VirtualTeamManagement"><i class="MarginRight fa fa-refresh"></i> Manage Virtual Teams</a>
            </div>
        </div>

        <div class="col-md-3 TicketContainerStyle">
            <div class="col-md-12">
                <i class="fa fa-braille TicketFontStyle f4">

                </i>

                <div class="pull-right">
                    <span class="TicketSpan">Tournaments</span>
                    <span class="CounterSpan">@Model.TotalTournaments</span>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="LineStyle" />
                <a href="/Home/Tournaments"><i class="MarginRight fa fa-refresh"></i> Manage Tournaments</a>
            </div>
        </div>

    </div>
</div>