﻿@model CricketFantasy.DataTransferObjects.Models.PlayersDto

<div class="col-md-12 form-group">
    <div class="panel panel-default" style="margin-top:50px;">
        <div class="panel-heading">Player Basic Information</div>
        <div class="panel-body">

            <div class="col-md-8">
                <input id="PlayerId" type="hidden" value="@Model.PlayerId" />
                <div class="col-md-12 form-group">
                    <div class="col-md-3 form-group requiredfield">Name</div>
                    <div class="col-md-9 form-group"> <input type="text" class="form-control" maxlength="49" id="PlayerName" value="@Model.PlayerName" /></div>
                </div>

                <div class="col-md-12 form-group">
                    <div class="col-md-3 form-group requiredfield">Player Type</div>
                    <div class="col-md-9 form-group">
                        @Html.DropDownListFor(model => model.PlayerType,
           new SelectList(
                  new List<Object>{
                       new { value = "Batsman" , text = "Batsman" },
                       new { value = "Bowler", text = "Bowler"},
                       new { value = "Wicket Keeper", text = "Wicket Keeper"},
                       new { value = "All Rounder", text = "All Rounder"}
                    },
                  "value",
                  "text",
                   Model.PlayerType
           ), new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    <div class="col-md-3 form-group requiredfield">Value</div>
                    <div class="col-md-9 form-group"> <input type="number" class="form-control" id="PlayerValue" value="@Model.PlayerValue" /></div>
                </div>
            </div>

            <div class="col-md-4">
                <div id="ImageDiv">
                    @if (Model.HasImage)
                    {
                        <img src="@Url.Content("~/PlayerImages/"+Model.PlayerId+".jpg")" />
                    }
                    else
                    {
                        <div id="ImageTitleDiv">
                            Click Here to Upload Image
                        </div>
                    }
                </div>
                <input type="file" style="display:none;" accept="image/x-png,image/gif,image/jpeg" onchange="readURL(this);" id="PlayerImage" />
            </div>

        </div>
    </div>

    @Html.Partial("_PlayerStatics", Model.StaticsList)
</div>


<div class="col-md-12 form-group">
    <div class="col-md-4 pull-right form-group">
        <button class="btn btn-primary btn-sm" onclick="ValidatePlayer()"> Save Changes</button>
        <a class="btn btn-primary btn-sm" href="/Home/Players"> Back to Players Menu</a>
    </div>
</div>