﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.PlayersDto>
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Manage Players</h3>
        </div>
    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
    <div class="MainBody">
        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group">
                <a class="btn btn-primary" href="/Home/ManagePlayer/?PlayerId=0">Add New Player</a>
            </div>

        </div>

        <div class="col-md-12 form-group">
            <table class="table table-striped table-bordered CustomResponsiveTable" id="PlayerManagementTable">
                <thead>
                    <tr>
                        <th>Player Name</th>
                        <th>Player Type</th>
                        <th>Team Assigned</th>
                        <th>Tournament</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlayerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlayerType)
                            </td>
                            <td>
                                @item.TeamName
                            </td>
                            <td>
                                @item.Tournament
                            </td>
                            <td>
                                <span onclick="ShowPlayerProfile(@item.PlayerId)" title="View Details"><i class="fa fa-eye fontawesomeThemeColor CursorClass"></i></span> |
                                <a href="/Home/ManagePlayer/?PlayerId=@item.PlayerId" title="Edit Player Details"><i class="fa fa-pencil fontawesomeThemeColor CursorClass"></i></a> |
                                <span onclick="DeletePlayer(@item.PlayerId, this)" title="Delete Player"><i class="fa fa-trash fontawesomeThemeColor CursorClass"></i></span>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        InitializeTable('PlayerManagementTable');
    });
</script>