﻿@model CricketFantasy.DataTransferObjects.Models.MatchScheduleDTO
@using CricketFantasy.DataTransferObjects.Models
@using CricketFantasy.DataLayer.Model
@{ 
    List<MatchDetailsDTO> TeamAInningDetails = ViewBag.TeamAInningDetails;
    List<MatchDetailsDTO> TeamBInningDetails = ViewBag.TeamBInningDetails;
    List<MatchDetailsDTO> TeamABowlingDetails = ViewBag.TeamABowlingDetails;
    List<MatchDetailsDTO> TeamBBowlingDetails = ViewBag.TeamBBowlingDetails;
    MatchResult result = ViewBag.MatchResult;
}

<div class="col-md-12">
    <b class="TitleDiv">Result</b>
</div>
<div class="col-md-12 form-group OverflowAuto">
    @Model.TournamentTitle at @Model.Location, @Model.ScheduleDate
</div>

<div class="col-md-12 form-group OverflowAuto">
   <div class="col-md-6 pull-left form-group OverflowAuto">
       <b class="TitleDiv">@Model.TeamAName</b>
   </div>
   
    <div class="col-md-6 pull-right form-group OverflowAuto">
        @result.TeamAScore / @result.TeamAPlayersOut (@result.TeamAOversPlayed overs)
    </div>
</div>

<div class="col-md-12 form-group OverflowAuto">
    <div class="col-md-6 pull-left form-group OverflowAuto">
        <b class="TitleDiv">@Model.TeamBName</b>
    </div>

    <div class="col-md-6 pull-right form-group OverflowAuto">
        @result.TeamBScore / @result.TeamBPlayersOut (@result.TeamBOversPlayed overs)
    </div>
</div>

<div class="col-md-12 form-group OverflowAuto">
   Win Status: @result.WonBy
</div>

<div class="col-md-12 form-group OverflowAuto">
    @Model.TeamAName Innings
    <hr />
</div>

<div class="col-md-12 form-group OverflowAuto">
    <table class="table" id="TeamAInningsTable">
        <thead>
            <tr>
                <th width="10%">BATSMEN</th>
                <th width="15%"></th>
                <th width="7%">Runs</th>
                <th width="7%">Balls</th>
                <th width="7%">Minutes</th>
                <th width="7%">4s</th>
                <th width="7%">6s</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in TeamAInningDetails)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>
                        @if (!string.IsNullOrEmpty(player.OutByPlayerName))
                        {
                            <div>@player.OutType <span> by </span> @player.OutByPlayerName</div>
                        }
                    </td>
                    <td>@player.Runs</td>
                    <td>@player.Balls</td>
                    <td>@player.Minutes</td>
                    <td>@player.Fours</td>
                    <td>@player.Sixes</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-md-12 form-group OverflowAuto">
    <b>Extras:</b> @result.TeamAExtras
</div>

<div class="col-md-12 form-group OverflowAuto">
    <b>Did not bat:</b> @result.TeamADidntBat
</div>

<div class="col-md-12 form-group OverflowAuto">
    <b>Fall of Wickets:</b> @result.TeamAFallofWickets
</div>

<div class="col-md-12 form-group OverflowAuto">
    <table class="table" id="TeamBBowlingTable">
        <thead>
            <tr>
                <th width="10%">Bowling</th>
                <th width="10%">Overs</th>
                <th width="10%">Maiden</th>
                <th width="10%">Runs</th>
                <th width="10%">Wickets</th>
                <th width="10%">Economy</th>
                <th width="10%">4s</th>
                <th width="10%">6s</th>
                <th width="10%">Wide Balls</th>
                <th width="10%">No Balls</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in TeamBBowlingDetails)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>
                       @player.Overs
                    </td>
                    <td>
                        @player.Maiden
                    </td>
                    <td>
                        @player.Runs
                    </td>
                    <td>
                        @player.Wickets
                    </td>
                    <td>
                        @player.Economy
                    </td>
                    <td>
                        @player.Fours
                    </td>
                    <td>
                        @player.Sixes
                    </td>
                    <td>
                        @player.Wides
                    </td>
                    <td>
                        @player.NoBalls
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>






<div class="col-md-12 form-group OverflowAuto">
    @Model.TeamBName Innings
    <hr />
</div>

<div class="col-md-12 form-group OverflowAuto">
    <table class="table" id="TeamAInningsTable">
        <thead>
            <tr>
                <th width="10%">BATSMEN</th>
                <th width="15%"></th>
                <th width="7%">Runs</th>
                <th width="7%">Balls</th>
                <th width="7%">Minutes</th>
                <th width="7%">4s</th>
                <th width="7%">6s</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in TeamBInningDetails)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>
                        @if (!string.IsNullOrEmpty(player.OutByPlayerName))
                        {
                            <div>@player.OutType <span> by </span> @player.OutByPlayerName</div>
                        }
                    </td>
                    <td>@player.Runs</td>
                    <td>@player.Balls</td>
                    <td>@player.Minutes</td>
                    <td>@player.Fours</td>
                    <td>@player.Sixes</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-md-12 form-group OverflowAuto">
    <b>Extras:</b> @result.TeamBExtras
</div>

<div class="col-md-12 form-group OverflowAuto">
    <b>Did not bat:</b> @result.TeamBDidntBat
</div>

<div class="col-md-12 form-group OverflowAuto">
    <b>Fall of Wickets:</b> @result.TeamBFallofWickets
</div>

<div class="col-md-12 form-group OverflowAuto">
    <table class="table" id="TeamBBowlingTable">
        <thead>
            <tr>
                <th width="10%">Bowling</th>
                <th width="10%">Overs</th>
                <th width="10%">Maiden</th>
                <th width="10%">Runs</th>
                <th width="10%">Wickets</th>
                <th width="10%">Economy</th>
                <th width="10%">4s</th>
                <th width="10%">6s</th>
                <th width="10%">Wide Balls</th>
                <th width="10%">No Balls</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in TeamABowlingDetails)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>
                        @player.Overs
                    </td>
                    <td>
                        @player.Maiden
                    </td>
                    <td>
                        @player.Runs
                    </td>
                    <td>
                        @player.Wickets
                    </td>
                    <td>
                        @player.Economy
                    </td>
                    <td>
                        @player.Fours
                    </td>
                    <td>
                        @player.Sixes
                    </td>
                    <td>
                        @player.Wides
                    </td>
                    <td>
                        @player.NoBalls
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>