﻿@model CricketFantasy.DataTransferObjects.Models.PlayersDto

<div class="col-md-9 form-group">
    <div class="col-md-12 form-group">
        <div class="col-md-3 form-group">
            Name
        </div>
        <div class="col-md-9 form-group BorderStyling">
            @Model.PlayerName
        </div>
    </div>

    <div class="col-md-12 form-group">
        <div class="col-md-3 form-group">
            Player Type
        </div>
        <div class="col-md-9 form-group BorderStyling">
            @Model.PlayerType
        </div>
    </div>

    <div class="col-md-12 form-group">
        <div class="col-md-3 form-group">
            Player Value
        </div>
        <div class="col-md-9 form-group BorderStyling">
            @Model.PlayerValue
        </div>
    </div>
</div>
<div class="col-md-3 form-group ImageFormat">
    @if (Model.HasImage)
    {
        <img src="@Url.Content("~/PlayerImages/"+Model.PlayerId+".jpg")" />
    }
    else
    {
        <div id="ImageTitleDiv">
            No Image Found
        </div>
    }
</div>

<div class="col-md-12 OverflowAuto">
    Batting & fielding averages
</div>
<div class="col-md-12 form-group">
    <table class="table table-striped table-bordered CustomResponsiveTable">
        <thead>
            <tr>
                <th>
                    Match Type
                </th>
                <th>
                    Total Matches
                </th>
                <th>
                    Innings
                </th>
                <th>
                    Not outs
                </th>
                <th>
                    Runs
                </th>
                <th>
                    Highest Score
                </th>
                <th>
                    Average
                </th>
                <th>
                    Balls Faced
                </th>
                <th>
                    Batting Strike Rate
                </th>
                <th>
                    100
                </th>
                <th>
                    50
                </th>
                <th>
                    4s
                </th>
                <th>
                    6s
                </th>
                <th>
                    Catches Taken
                </th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model.StaticsList)
           {
            <tr>
                <td>
                    @item.MatchType
                </td>
                <td>
                    @item.Statics.TotalMatches
                </td>
                <td>
                    @item.Statics.InningsBatted
                </td>
                <td>
                    @item.Statics.NotOuts
                </td>
                <td>
                    @item.Statics.RunsScored
                </td>
                <td>
                    @item.Statics.HighestScore
                </td>
                <td>
                    @item.Statics.Average
                </td>
                <td>
                    @item.Statics.BallsFaced
                </td>
                <td>
                    @item.Statics.StrikeRate
                </td>
                <td>
                    @item.Statics.Hundred
                </td>
                <td>
                    @item.Statics.Fifty
                </td>
                <td>
                    @item.Statics.Fours
                </td>
                <td>
                    @item.Statics.Sixes
                </td>
                <td>
                    @item.Statics.CatchesTaken
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>

<div class="col-md-12 OverflowAuto">
    Bowling averages
</div>
<div class="col-md-12 form-group">
    <table class="table table-striped table-bordered CustomResponsiveTable">
        <thead>
            <tr>
                <th>
                    Match Type
                </th>
                <th>
                    Total Matches
                </th>
                <th>
                    Innings
                </th>
                <th>
                    Runs Given
                </th>
                <th>
                    Wickets Taken
                </th>
                <th>
                    Balls Bowled
                </th>
                <th>
                    Economy
                </th>
                <th>
                    4 Wickets in Match
                </th>
                <th>
                    5 Wickets in Match
                </th>
                <th>
                    10 Wickets in Match
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StaticsList)
            {
                <tr>
                    <td>
                        @item.MatchType
                    </td>
                    <td>
                        @item.Statics.TotalMatches
                    </td>
                    <td>
                        @item.Statics.InningsBowled
                    </td>
                    <td>
                        @item.Statics.RunsGiven
                    </td>
                    <td>
                        @item.Statics.WicketsTaken
                    </td>
                    <td>
                        @item.Statics.BallsBowled
                    </td>
                    <td>
                        @item.Statics.Economy
                    </td>
                    <td>
                        @item.Statics.FourWicketsInMatch
                    </td>
                    <td>
                        @item.Statics.FiveWicketsInMatch
                    </td>
                    <td>
                        @item.Statics.TenWicketsInMatch
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
</div>