﻿@model CricketFantasy.DataTransferObjects.Models.MatchScheduleDTO
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Manage Match Results</h3>
        </div>
    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
    <div class="MainBody" style="margin-bottom:10px;">
        <div class="col-md-12 form-group">
            <b>Result</b>
        </div>

        <input type="hidden" value="@Model.TeamAId" id="TeamAId" />
        <input type="hidden" value="@Model.TeamBId" id="TeamBId" />
        <input type="hidden" value="@Model.MatchScheduleId" id="ScheduleId" />
        <div class="col-md-12 form-group">
            @Model.TournamentTitle at @Model.Location, @Model.ScheduleDate
        </div>

        <div class="col-md-12 form-group">
            <b>@Model.TeamAName Details</b> 
            <hr />
        </div>
       
         <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Total Score
            </div>
            <div class="col-md-2 form-group">
                <input type="number" min="0" id="TeamATotalScore" class="form-control" />
            </div>

            <div class="col-md-2 form-group MarginTop">
                Overs Played
            </div>
            <div class="col-md-2 form-group">
                <input type="text" id="TeamAOversPlayed" class="form-control" />
            </div>

             <div class="col-md-2 form-group MarginTop">
                 Players Out
             </div>
             <div class="col-md-2 form-group">
                 <input type="number" min="0" id="TeamAPlayersOut" class="form-control" />
             </div>
        </div>


        <div class="col-md-12 form-group OverflowAuto">
            <b>@Model.TeamBName Details</b>
            <hr />
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Total Score
            </div>
            <div class="col-md-2 form-group">
                <input type="number" min="0" id="TeamBTotalScore" class="form-control" />
            </div>

            <div class="col-md-2 form-group MarginTop">
                Overs Played
            </div>
            <div class="col-md-2 form-group">
                <input type="text" id="TeamBOversPlayed" class="form-control" />
            </div>

            <div class="col-md-2 form-group MarginTop">
                Players Out
            </div>
            <div class="col-md-2 form-group">
                <input type="number" min="0" id="TeamBPlayersOut" class="form-control" />
            </div>
        </div>

        <div class="col-md-12 form-group OverflowAuto">
            <b>Winner</b>
            <hr />
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-1">Winner</div>
            <div class="col-md-2">
                <select id="WinningTeamDropDown" class="form-control">
                    <option value="@Model.TeamAId">@Model.TeamAName</option>
                    <option value="@Model.TeamBId">@Model.TeamBName</option>
                </select>
            </div>

            <div class="col-md-1 MarginTop">
                Won By
            </div>

            <div class="col-md-8">
                <input type="text" class="form-control" id="WonByDropdown" />
            </div>
        </div>
    </div>

    <div class="MainBody">
        <div class="col-md-12 form-group OverflowAuto">
            <b>@Model.TeamAName Innings</b>
            <hr />
        </div>

        <div class="col-md-12 form-group">
           <table class="table" id="TeamAInningsTable">
               <thead>
                   <tr>
                       <th width="10%">BATSMEN</th>
                       <th width="15%">Out/Not out Status</th>
                       <th width="15%">Out Type</th>
                       <th width="15%">Out By</th>
                       <th width="7%">Runs</th>
                       <th width="7%">Balls</th>
                       <th width="7%">Strike Rate</th>
                       <th width="7%">4s</th>
                       <th width="7%">6s</th>
                       @*<th width="10%">Strike Rate</th>*@
                       <th></th>
                   </tr>
               </thead>
               <tbody>
                  @foreach (var player in Model.TeamAPlayers)
                  {
                    <tr>
                        <td class="tdPlayerName">@player.PlayerName <input type="hidden" class="PlayerIdHidden" value="@player.PlayerId" /></td>
                        <td>
                            <select class="OutNotOutDropdown form-control">
                                <option value="Select">Select</option>
                                <option value="Out">Out</option>
                                <option value="Not Out">Not Out</option>
                                <option value="Not Bat">Not Bat</option>
                            </select>
                        </td>
                        <td>
                            <select  class="OutTypeDropdown form-control">
                                <option value="Select">Select</option>
                                <option value="Catch Out">Catch Out</option>
                                <option value="Run Out">Run Out</option>
                                <option value="Stumped">Stumped</option>
                                <option value="Bowled">Bowled</option>
                            </select>
                        </td>
                        <td>
                            <select class="OutByPlayer form-control">
                                <option value="0">Select</option>
                                @foreach (var item in Model.TeamBPlayers)
                                {
                                    <option value="@item.PlayerId">@item.PlayerName</option>
                                }
                            </select>
                        </td>
                        <td><input type="number" min="0" class="form-control RunsTxtbx" /></td>
                        <td><input type="number" min="0" class="form-control BallsTxtbx" /></td>
                        <td><input type="number" min="0" class="form-control MinutesTxtbx" /></td>
                        <td><input type="number" min="0" class="form-control FoursTxtBx" /></td>
                        <td><input type="number" min="0" class="form-control SixesTxtBx" /></td>
                        @*<td><input type="text" class="form-control StrikeRateTxtBx" /></td>*@
                        <td><button class="btn btn-sm btn-danger" onclick="RemoveRow(this)" title="Remove player from Batsmen list"><i class="fa fa-times"></i></button></td>
                    </tr>
                  }
               </tbody>
           </table>
        </div>

        <hr />
        
        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Extras
            </div>
            <div class="col-md-10 form-group">
                <input class="form-control" id="TeamAExtras"  />
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Did not bat
            </div>
            <div class="col-md-10 form-group">
                <input class="form-control" id="TeamADidntBat" />
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Fall of Wickets
            </div>
            <div class="col-md-10 form-group">
                <input class="form-control" id="TeamAFallofWickets" />
            </div>
        </div>

        <div class="col-md-12 form-group OverflowAuto">
            <table class="table" id="TeamBBowlingTable">
                <thead>
                    <tr>
                        <th width="10%">Bowling</th>
                        <th width="10%">Overs</th>
                        <th width="10%">Maiden</th>
                        <th width="10%">Runs</th>
                        <th width="10%">Wickets</th>
                        <th width="10%">Economy</th>
                        <th width="10%">4s</th>
                        <th width="10%">6s</th>
                        <th width="10%">Wide Balls</th>
                        <th width="10%">No Balls</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.TeamBPlayers)
                    {
                        <tr>
                            <td>@player.PlayerName <input type="hidden" class="PlayerIdHidden" value="@player.PlayerId" /></td>
                            <td>
                              <input type="number" min="0" class="form-control OversTxtBx" />
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control MaidenTxtbx" />
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control RunsTxtBx" />
                            </td>
                            <td><input type="number" min="0" class="form-control WicketsTxtBx" /></td>
                            <td><input type="number" min="0" class="form-control EcomonyTxtBx" /></td>
                            <td><input type="number" min="0" class="form-control FoursGivenTxtBx" /></td>
                            <td><input type="number" min="0" class="form-control SixesGivenTxtbx" /></td>
                            <td><input type="number" min="0" class="form-control WideBallsTxtbx" /></td>
                            <td><input type="number" min="0" class="form-control NoBallsTxtbx" /></td>
                            <td><button class="btn btn-sm btn-danger" onclick="RemoveRow(this)" title="Remove player from Bowling list"><i class="fa fa-times"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="MainBody">
        <div class="col-md-12 form-group OverflowAuto">
            <b>@Model.TeamBName Innings</b>
            <hr />
        </div>

        <div class="col-md-12 form-group">
            <table class="table" id="TeamBInningsTable">
                <thead>
                    <tr>
                        <th width="10%">BATSMEN</th>
                        <th width="15%">Out/Not out Status</th>
                        <th width="15%">Out Type</th>
                        <th width="15%">Out By</th>
                        <th width="7%">Runs</th>
                        <th width="7%">Balls</th>
                        <th width="7%">Minutes</th>
                        <th width="7%">4s</th>
                        <th width="7%">6s</th>
                        @*<th width="10%">Strike Rate</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.TeamBPlayers)
                    {
                        <tr>
                            <td class="tdPlayerName">@player.PlayerName <input type="hidden" class="PlayerIdHidden" value="@player.PlayerId" /></td>
                            <td>
                                <select class="OutNotOutDropdown form-control">
                                    <option value="Select">Select</option>
                                    <option value="Out">Out</option>
                                    <option value="Not Out">Not Out</option>
                                    <option value="Not Bat">Not Bat</option>
                                </select>
                            </td>
                            <td>
                                <select class="OutTypeDropdown form-control">
                                    <option value="Select">Select</option>
                                    <option value="Catch Out">Catch Out</option>
                                    <option value="Run Out">Run Out</option>
                                    <option value="Stumped">Stumped</option>
                                    <option value="Bowled">Bowled</option>
                                </select>
                            </td>
                            <td>
                                <select class="OutByPlayer form-control">
                                    <option value="0">Select</option>
                                    @foreach (var item in Model.TeamAPlayers)
                                    {
                                        <option value="@item.PlayerId">@item.PlayerName</option>
                                    }
                                </select>
                            </td>
                            <td><input type="number" min="0" class="form-control RunsTxtbx" /></td>
                            <td><input type="number" min="0" class="form-control BallsTxtbx" /></td>
                            <td><input type="number" min="0" class="form-control MinutesTxtbx" /></td>
                            <td><input type="number" min="0" class="form-control FoursTxtBx" /></td>
                            <td><input type="number" min="0" class="form-control SixesTxtBx" /></td>
                            @*<td><input type="text" class="form-control StrikeRateTxtBx" /></td>*@
                            <td><button class="btn btn-sm btn-danger" onclick="RemoveRow(this)" title="Remove player from Batsmen list"><i class="fa fa-times"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <hr />

        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Extras
            </div>
            <div class="col-md-10 form-group">
                <input class="form-control" id="TeamBExtras" />
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Did not bat
            </div>
            <div class="col-md-10 form-group">
                <input class="form-control" id="TeamBDidntBat" />
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group MarginTop">
                Fall of Wickets
            </div>
            <div class="col-md-10 form-group">
                <input class="form-control" id="TeamBFallofWickets" />
            </div>
        </div>

        <div class="col-md-12 form-group OverflowAuto">
            <table class="table" id="TeamABowlingTable">
                <thead>
                    <tr>
                        <th width="10%">Bowling</th>
                        <th width="10%">Overs</th>
                        <th width="10%">Maiden</th>
                        <th width="10%">Runs</th>
                        <th width="10%">Wickets</th>
                        <th width="10%">Economy</th>
                        <th width="10%">4s</th>
                        <th width="10%">6s</th>
                        <th width="10%">Wide Balls</th>
                        <th width="10%">No Balls</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.TeamAPlayers)
                    {
                        <tr>
                            <td>@player.PlayerName <input type="hidden" class="PlayerIdHidden" value="@player.PlayerId" /></td>
                            <td>
                                <input type="number" min="0" class="form-control OversTxtBx" />
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control MaidenTxtbx" />
                            </td>
                            <td>
                                <input type="number" min="0" class="form-control RunsTxtBx" />
                            </td>
                            <td><input type="number" min="0" class="form-control WicketsTxtBx" /></td>
                            <td><input type="number" min="0" class="form-control EcomonyTxtBx" /></td>
                            <td><input type="number" min="0" class="form-control FoursGivenTxtBx" /></td>
                            <td><input type="number" min="0" class="form-control SixesGivenTxtbx" /></td>
                            <td><input type="number" min="0" class="form-control WideBallsTxtbx" /></td>
                            <td><input type="number" min="0" class="form-control NoBallsTxtbx" /></td>
                            <td><button class="btn btn-sm btn-danger" onclick="RemoveRow(this)" title="Remove player from Bowling list"><i class="fa fa-times"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group pull-right">
                <button class="btn btn-primary btn-sm" onclick="SubmitMatchResults()"> Submit Match Results </button>
            </div>

        </div>

    </div>


</div>