﻿<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Manage Tournaments</h3>
        </div>
    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
    <div class="MainBody">
        <div class="col-md-12 form-group">
            <div class="col-md-4 form-group">
                <select id="TournamentsDropdown" class="form-control select2" onchange="GetTournamentDetails($('#TournamentsDropdown').val())"></select>
            </div>
            <div class="col-md-2 form-group MarginRight">
                <button class="btn btn-primary" onclick="GetTournamentDetails(0)">Add New Tournament</button>
            </div>
          
            <div class="col-md-2 form-group">
                <button class="btn btn-danger HideItem" id="DeleteTournamentButton" onclick="DeleteTournament($('#TournamentsDropdown').val())">Delete Tournament</button>
            </div>
        </div>

        <div id="TournamentDetailsContainer">

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        GetTournamentsList();
    });
</script>