﻿<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">User Management</h3>
        </div>
    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
    <div class="MainBody">
        <div class="col-md-12 form-group">
            <button class="btn btn-primary" onclick="GetUsersModel('0')"> Add User</button>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-2 form-group" style="padding-left:0px;">
                <button class="btn btn-primary" onclick="GetUsersPost('Team Manager')"> Team Manager</button>
            </div>
            <div class="col-md-2 col-md-8-push form-group" style="padding-left:0px;">
                <button class="btn btn-primary" onclick="GetUsersPost('League Commissioner')"> League Commissioner</button>
            </div>
        </div>
        <div class="col-md-12 form-group" id="MainUsersDiv">

        </div>
    </div>
</div>


<div id="UsersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="AccountsTitleDiv">Create User</h4>
            </div>
            <div class="modal-body">
                <div id="CreateUserDiv">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SubmitAccountForm" onclick="CreateUserManually()">Create User</button>
                <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        GetUsersPost('Team Manager');
    });
</script>