﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TheCricketHQ-Fantasy | Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link href="~/Content/style.bundle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <script src="~/Scripts/jquery.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
</head>

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="loginbodyBackground m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login">
            <div class="m-grid__item m-grid__item--fluid	m-login__wrapper WhiteBackground">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="~/Images/TheCricketHQ-Logo-Transparent.png" class="img-fluid" style="max-height:200px;max-width:200px;"/>
                            @*<img src="~/Images/logo-1.png">*@
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">CricketHQ<br>Fantasy Cricket</h3>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>