﻿@model IEnumerable<CricketFantasy.DataTransferObjects.Models.TeamDTO>

@foreach (var item in Model)
{
    <div style="padding:5px;">
        <div class="col-md-4 form-group">@item.TeamName</div>
        <div class="col-md-4 form-group"> <a href="javascript:;" onclick="ViewTeamPlayers(@item.TeamId)">View Players</a></div>
        <div class="col-md-4 form-group" style="color:#945555"> <button class="btn btn-danger btn-sm" onclick="RemoveTeamFromTournament(@item.TeamId)"><i class="fa fa-times-circle-o marginright"></i>Remove Team </button></div>
    </div>                   
}