﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TheCricketHQ-Fantasy-Home</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Site.js"></script>

    <style>
    body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
         border-right: 1px solid white;
         border-left: 1px solid white;

}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


    </style>
</head>

<body class="bodyBackground" >
    
    <div class="navbar">

      
        @if (User.Identity.IsAuthenticated)
        {            
            <a href="/Account/LogOff" class="pull-right">Logout</a>
        }
        else
        {
            <a href="/Account/Register" class="pull-right">Register</a>
            <a href="/Account/Login" class="pull-right">Login</a>
 
        }
        <div class="dropdown pull-right">
            <button class="dropbtn">
                How to Play
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">FAQ</a>
                <a href="/User/PointsCalculation">Points Calculation</a>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Admin"))
            {
                <a href="/Home/Index" class="pull-right">Play</a>
            }
            else
            {
                <a href="/User/Play" class="pull-right">Play</a>
            }
        }
        else
        {
            <a href="/User/Play" class="pull-right">Play</a>
        }
  
        <a href="/User/Index" class="pull-right">Home</a>
    </div>

    <div id="MainDiv" class="form-group">
        
    </div>

    @RenderBody()
</body>
</html>