﻿
<div id="TeamModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="GetTeamData()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="TeamsTitleDiv">Create Team</h4>
            </div>
            <div class="modal-body">
                <div id="CreateTeamDiv">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SubmitTeamsBtn">Create Team</button>
                <button type="button" class="btn btn-outline" onclick="GetTeamData()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline" onclick="GetTeamData()" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div id="PlayerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('PlayerModal')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">Create Player</h4>
            </div>
            <div class="modal-body">
                <div id="CreatePlayerDiv">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SubmitPlayerForm">Create Player</button>
                <button type="button" class="btn btn-outline" onclick="CloseModal('PlayerModal')">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div id="ShowPlayerProfileModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:62%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('ShowPlayerProfileModal')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">Player Information</h4>
            </div>
            <div class="modal-body">
                <div id="PlayerInformationDiv">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" onclick="CloseModal('ShowPlayerProfileModal')">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="TeamPlayersPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('TeamPlayersPopup')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">Players Information</h4>
            </div>
            <div class="modal-body">
                <div id="TeamPlayersInformationDiv">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" onclick="CloseModal('TeamPlayersPopup')">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="ShowResultsPopup" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:62%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('ShowResultsPopup')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">Match Result</h4>
            </div>
            <div class="modal-body">
                <div id="ShowResultsDiv">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" onclick="CloseModal('ShowResultsPopup')">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="LeagueTeamPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('LeagueTeamPopup')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">Team Information</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 form-group">
                    <div class="col-md-3 requiredfield MarginTop">
                        Team Name
                    </div>
                    <div class="col-md-9">
                        <input maxlength="49" type="text" class="form-control" id="TeamNametxtbx" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveLeagueTeamInformation()">Save</button>
                <button type="button" class="btn btn-outline" onclick="CloseModal('LeagueTeamPopup')">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="LeaguePopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('LeaguePopup')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">League Information</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 OverflowAuto">
                    <div class="col-md-4 form-group requiredfield MarginTop">
                        League Name
                    </div>
                    <div class="col-md-8 form-group">
                        <input maxlength="49" type="text" class="form-control" id="LeagueNameTxtBx" />
                        <input type="hidden" id="LeagueIdHidden" />
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    <div class="col-md-4 form-group requiredfield MarginTop">
                        League Password
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" class="form-control" id="LeaguePasswordBox" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveLeagueInformation()">Save</button>
                <button type="button" class="btn btn-outline" onclick="CloseModal('LeaguePopup')">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="InvitesPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('InvitesPopup')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">Send Invites</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 form-group">
                    <div class="col-md-3 requiredfield MarginTop">
                        Emails
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="EmailsTxtbx" />
                        <input type="hidden" id="HiddenForLeagueidEmails" />
                        <div class="requiredfield"> Please enter comma separated & valid emails</div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SendInvites()">Send Invites</button>
                <button type="button" class="btn btn-outline" onclick="CloseModal('InvitesPopup')">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="JoinLeaguePopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModal('JoinLeaguePopup')">&times;</button>
                <h4 class="modal-title" id="PlayerModelTitle">Join League</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 form-group">
                    <div class="col-md-4 requiredfield MarginTop">
                        League Password
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="JoinLeaguePasswordTxtbx" />
                        <input type="hidden" id="HiddenForJoinLeague" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="JoinLeague()">Join</button>
                <button type="button" class="btn btn-outline" onclick="CloseModal('JoinLeaguePopup')">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Forgot Password modal-->
<div id="ForgotPasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">What's My Password?</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>If you have forgotten your password you can reset it here.</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control input-lg" placeholder="E-mail Address" id="fpEmail" type="email">
                                            <span style="color:red;display:none"></span>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block"  onclick="CheckForgotPasswordValidation()">Send My Password</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>